# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/ephemeral/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
**/doc/api/ # Added from the second block
**/ios/Flutter/.last_build_id # Added from the second block


# Android related
android/.gradle/
android/app/build/
android/app/.*
android/app/debug.keystore
android/app/profile.keystore
android/app/release.keystore
android/gradle.properties # If it contains sensitive information
android/local.properties
*.jks

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Sensitive files (Add any files containing API keys, secrets, etc.)
# Example:
# secrets.json
.env